<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список произведений</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="container">

    <header>
        <h1>Список произведений</h1>
        <p th:text="'Всего произведений: ' + ${oeuvreCount}"></p>
        <a th:href="@{oeuvres/new}" class="btn btn-primary">Добавить произведение</a>
    </header>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Жанр</th>
            <th>Год</th>
            <th>Автор</th>
            <th>Действия</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="oeuvre : ${oeuvres}">
            <td th:text="${oeuvre.id}"></td>
            <td th:text="${oeuvre.title}"></td>
            <td th:text="${oeuvre.genre}"></td>
            <td th:text="${oeuvre.publishedYear}"></td>
            <td th:text="${oeuvre.author.name}"></td>

            <td>
                <a th:href="@{'/oeuvres/view/' + ${oeuvre.id}}">Просмотр</a> |
                <a th:href="@{'/oeuvres/edit/' + ${oeuvre.id}}">Редактировать</a> |
                <a th:href="@{'/oeuvres/delete/' + ${oeuvre.id}}"
                   onclick="return confirm('Удалить произведение?')">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}" style="margin-bottom: 20px; display: inline-block;">
        ⬅ На главную
    </a>
</div>
</body>

</html>
